<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FitsMap Tours</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">by Starlynne Start</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<div class="container main">
  <div class="row">
    <div class="col-xs-6">
      <div class="tour well">
        <h2>Welcome to FitsMap Tour Builder!</h2>
        <p>Suggested stops, like the infamous Pike Market and the iconic Space Needle, have been placed on the map already. </p>
        <p>To add a stop, just click on the map. You can grab your markers and move them where ever you like!</p>
        <p><strong>Once you have built your tour, click the button below to send.</strong></p>
        <button (click)="makePolyline()" name="button">Send Tour</button>
        <div *ngIf="tourFinished" class="well">
          <h3>Your Tour:</h3>
          <h5 *ngFor='let stop of tourFinished'>{{stop}}</h5>
          <button (click)="resetTour()" name="button">Clear</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="map">
        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]='zoom'
          [disableDefaultUI]=false
          [zoomControl]=false
          (mapClick)="mapClicked($event)">
          <agm-polyline
            path='myCoordinates'>

          </agm-polyline>
          <agm-marker
            *ngFor='let m of markers; let i = index'
            (markerClick)="clickedMarker(m, i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [markerDraggable]=m.draggable
            (dragEnd)="markerDragEnd(m, $event)">
            <agm-info-window>
              <strong>{{m.name}}</strong>
              <a class='rename' (click)='renameMarker(m)'>Rename Marker</a>
              <br>
              <div *ngIf="changeName" >
                <input type="text"  class='nameWindow' [(ngModel)]='m.name'>
                <a class="doneNaming" (click)='doneNaming()'>Done</a>
              </div>
              <br>
              <a class='delete' (click)='removeMarker(m)'>Delete Marker</a>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
